
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
libs/

*.apk
*.ap_


*.dex


*.class


bin/
gen/
out/


build/


proguard/


*.log


.navigation/


captures/


*.jks

